body{
    margin: 0;
    padding: 0;
}

.container {
	background-color: yellow;
    color: white;
    padding: 10px;
    position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
    height: 8vh;
    
}

.logo{
    height: 2em;
    float: left;
}

.text-block {
    position: relative;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: right;

  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
  }
  
  li a:hover {
    background-color:white;
  }


  .footer {
    background-color: black;
    opacity: 0.75;
    padding: 20px;
    margin-top: 2rem;
    
  }  
  
  
  .footer_content p {
    color: white;
    line-height: 1.75rem;
  }
  
  .footer_links {
    list-style: none;
    display: grid;
    gap: 1rem;
    color: white;
  }  
  
  .footer_links li span {
    font-size: 1rem;
  }
  
  .footer_socials {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer_socials a {
    font-size: 1rem;
    color: white;
  }
  
  .footer_socials a:hover {
    color: blueviolet;
  }
  
  .footer_bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
  }

  @media screen and (max-width: 992px) {
    .text_block{
      display: none;
    }
}