body{
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	background-color: black;
    color: white;
    padding: 10px;
    opacity: 0.75;
}

.text-block {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.75;
	
}

.header {
	background: rgba(0, 0, 0, 50);
	color: #fff;
	font-size: 2rm;
	font-family: 'Poiret One', cursive;
	word-spacing: 10px;
	display: inline-block;
	width: 100%;
	opacity: 0.5;

}
.heading {
	float: left;
	font-size: 2rem;
	margin-top: -30px;
	margin-bottom: -10px;
}


.logo {
	
	text-align: right;
	float: right;
	
}

/*.home {
	background-image: url("background.jpg");
	background-size: cover;
	margin-top: -70px;
	margin-bottom: 10px;
	height: 75%;
}*/